@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3c4485;
    /* border-radius: 2px; */
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1d2051;
}

::-webkit-file-upload-button {
    background: #3871ff;
    color: white;
    font-weight: bold;
    border: none;
    height: 48px;
    padding-inline: 10px;
}

::-webkit-file-upload-button:hover {
    background: #2e55b5;
    cursor: pointer;
}