
.hostGroup-photo{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    margin-right: 2rem;
}
.group-Container{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #cfcece;
    padding-bottom: 20px;
    padding-right: 2rem;
    margin-bottom: 2rem;
    padding-left: 0;
}
.info-Container{
    display: flex;
    max-height: 150px;
    width: 100%;
}
.icon-container {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
}
.local-img{
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin-right: 10px;
}
.group-Container-group{
    width: 100%;
    padding-right: 2rem;
    padding-bottom: 20px;
    margin-bottom: 2rem;
    padding-left: 0;
}
.title-text{
    font-size: 3rem;
    font-weight: bolder;
}
.Host-photo{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}
.hr-line{
    padding-bottom: 2rem;
}
.event-info-Container{
    display: flex;
    max-height: 150px;
    width: 100%;
    margin-bottom: 2rem;
}
.map{
    width: 400px;
    min-height: 40rem;
    overflow: hidden;
}





